body {
  padding: 40px;
}

.container {
  justify-content: center;
  max-width: 1000px;
  padding: 40px;
  background: #c1c1c124;
}

#ScenarioTable{
    border-collapse: collapse;
}

.close {
  background: transparent;
  border: 0;
}